<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<div class="container">
    <h3>Category Form</h3>
    <form method="post" role="form" th:action="@{/categories/saveCategory}" th:object="${category}">
        <div>
            <div><label>Category name:</label>
                <input class="form-control col-4 mb-4" placeholder="Category name" th:field="${category.categoryName}"/>
            </div>

            <div>
                <input type="submit" value="Submit"/> <input type="reset" value="Clear"/>
            </div>
            <input th:field="${category.categoryId}" type="hidden"/>
        </div>
    </form>
</div>
</body>
</html>