<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" role="form" th:action="@{/products/saveProduct}" th:object="${product}">
        <input placeholder="name" th:field="${product.productName}"><br/>
        <input type="date" th:field="${product.date}"/>
        <select id="categoryId" name="categoryId" th:field="${product.category}">
            <option th:each="category:${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
        </select>
        <input type="submit" value="submit"/>
        <input th:field="${product.productId}" type="hidden"/>
    </form>
</body>
</html>