<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <table border="1">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr th:each="category:${categories}">
          <td th:text="${category.categoryId}" />
          <td th:text="${category.categoryName}"/>
          <td><a th:href="@{/categories/showUpdateForm(id=${category.categoryId})}">Update</a></td>
          <td><a th:href="@{/categories/deleteCategory(id=${category.categoryId})}">Delete</a></td>
        </tr>
      </tbody>
      <a th:href="@{/categories/showAddForm }">Add Category</a>
    </table>
  </div>
</body>
</html>